<div class="row">
  <% if users.any? %>
    <ul class="list-unstyled offset-3">
      <% users.each do |user| %>
        <li class="media mt-3">
        
          <div class="media-body">
            <div>
              <% if user.image? %>
                <img class = "rounded" src="<%= user.image %>" width=70 height=70>
              <% else %>
                <img class = "rounded" src="/assets/default.jpg" width=70 height=70>
              <% end %>
              <%= user.name %>
            </div>
          
          </div>
        </li>
    <% end %>
  </ul>
<% end %>
</div>