<div class='card-body'>
  <%= form_with(model: user, local: true) do |f| %>
    <div class="form-group"> 
      <%= f.submit '家族から抜ける', class: 'btn text-danger', data: {confirm: '本当に抜けますか？' }  %>
      <%= f.hidden_field :family_id, value: nil %>
    </div>
  <% end %>
  <div class="small" style="color:gray">
    <p>家族から抜けると食材やメモの管理ができなくなります。
    <br>新たに家族を作るか、他のユーザから招待リクエストを受ける必要があります。</p>
  </div>

  
</div>