<div class="mt-5">
    <% if current_user.requestings.any? %>
      <h5 class="mb-3">招待中のユーザ</h5>
      <ul class="list-unstyled container">
        <% requests.each do |request| %>
          <% guest = User.find(request.guest_id) %>
          <% host = User.find(request.user_id) %>
          <li class="mt-2 border-bottom row">
            <%= guest.email %>
            
            <div class="ml-auto"><span class="small"><%= host.name %> </span><%= link_to(request, method: :delete, class: 'btn-sm',data: {confirm: 'リクエストを取り消します' } )do %><i class="fas fa-times-circle fa-lg text-danger"></i><% end %></div>
          </li>
        <% end %>
        
        <%# guests.each do |guest| %>
          <li><%#= guest.email %></li>
        <%# end %>
      </ul>
    <% else %>
      <p>招待中のユーザはいません</p>
    <% end %>
  
</div>