<div class='text-center'>
  <% if current_user.requestings.any? %>
    <div class='mt-5'>招待中のユーザ</div>
    <ul class="list-unstyled">
      <% guests.each do |guest| %>
        <li><%= guest.email %></li>
      <% end %>
    </ul>
  <% end %>
</div>