<div class='text-center mt-5'>
  <% if requestings.any? %>
    <p>招待中のユーザ</p>
    <ul class="list-unstyled">
      <% requestings.each do |guest| %>
        <li><%= guest.id %></li>
      <% end %>
    </ul>
  <% end %>
</div>