<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: Request.new, local: true) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder:'招待したいユーザのメールアドレス' %>
      </div>
      <%= f.submit '招待する', class: 'btn btn-primary btn-block' %>
    <% end %>

    
  </div>
</div>