<% if logged_in? %>
  <p>ログイン完了ユーザ： <%= current_user.name %></p>

<% else %>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>Foodstocks</h1>
    
      <h4>家族で食材管理</h4>
      <%= link_to 'ユーザ登録', signup_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>