<div class="mb-5">
  <div class="row">
    
    <div id="foods" class="col-md-9 mb-5 pr-md-5">
      <h4 class="mb-3">食材一覧<span class="ml-5 small"><%= link_to '＋ストックする', new_food_path %></span></h4>
      <%= render "foods_index", foods: @foods %>
    </div>
  
    <aside id="memos" class="col-md-3">
      <h4></h4>
      <%= render "memos/memo_form", memo: @memo %>
      <%= render "memos/memos_index", memos: @memos %>
    </aside>
    
  </div>
</div>
  
  
<div class="d-md-none d-block fixed-bottom">
  <div class="row border-top p-2" style="background-color:#eee">
    <div class="col text-center"><a href="#foods" class="text-dark"><i class="fas fa-fish fa-rotate-180 fa-lg"></i>  食材</a></div>
    <div class="col text-center"><a href="#memos" class="text-dark"><i class="far fa-sticky-note fa-lg"></i>  メモ</a></div>
  </div>


</div> 