@charset "UTF-8";

body{
    color: #444;
}


/* footer */
body{
    min-height: 100vh;
    position: relative;
    padding-top: 59px;
    padding-bottom: 118px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
    background-color:#cccccc;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 24px 24px 40px 24px;
}

#contact{
    color: #333;
    
}

#contact:hover {
    text-decoration: none;
    color: #777;
}

/*foods*/
.foods-tab{
    color: #6a6;
}

.foods-tab:hover {
    color: #585;
}

/*button */
.btn-orange {
    background-color: #f1ae04;
    color: #fff;
}

.btn-orange:hover {
    background-color:#d69f14;
    color: #fff;
}

.btn-green {
    background-color: #6a1;
    color:#fff;
}

.btn-green:hover {
    background-color:#480;
    color:#fff;
}

/*text*/
.text-green{
    color: #6a1;
}

.letter-wide{
    letter-spacing:3px;
}

.marker {
    border-bottom: dashed 2px #f1ae04;
    padding: 5px;
 
}

.heading{
    padding: 0.1em 0.4em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    /*背景色*/
    border-left: solid 8px #ffaf58;/*左線（実線 太さ 色）*/
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
