<div class="pr-sm-5 pl-sm-5">
  <div class="small">
    <a id="contact" href="https://docs.google.com/forms/d/e/1FAIpQLSfGahox7vbfrqEX_c0ZkLlr8q0CPiDrET25Wb6ibcKNxp__2A/viewform?usp=sf_link" target="_blank"><span>お問い合わせ</span></a>
    <p class="text-center">© 2021 a-wa</p>
  </div>
</div>